.projects{
	background-color: #333;
	padding-bottom: 50px;
}
.projects h1{
	padding: 40px;
	text-align: center;
}
.projects-conteiner{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.projects-conteiner a{
	display: inline-block;
	color: #fff;
}
.projects-conteiner a:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.single-project{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.single-project i{
	font-size: 2rem;
	padding: 5px;
}
.project-image{
	height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.armazem{
	background-image: url("../images/armazem.png");
}
.dashbord{
	background-image: url("../images/dashbord.png");
}

@media (max-width: 990px) {
	.projects-conteiner{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}