.section.home{
	padding: 50px;
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		". home-conteiner home-conteiner ."
	;
	align-items: center;
	background-image: url("../images/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-conteiner{
	grid-area: home-conteiner;
}
#span, .home-conteiner h2{
	font-size: 2.2rem;
	position: relative;
}
/*#span::before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
}*/

#download{
	border-radius: 4px;
	color: #fff;
	border: 2px solid #fff;
	padding: 10px;
}
#download:hover{
	background-color: #fff;
	color: #000;
	cursor: pointer;
}