.section{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.section-title{
	color: #dc3545;
	font-size: 2.2rem;
	/*font-family: 'Berkshire Swash', cursive;*/
}
.section-paragraph{
	color: #707070;
	font-size: 20px;
	line-height: 28px;
}

.styled-divs{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-bottom: 25px;
}
.styled-divs > span{
	width: 1rem;
	height: 1rem;
	background-color: #dc3545;
	transform: rotate(45deg);
}